*,
*::after,
*:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    color: white;
    font-style: italic;
    font-size: 39px;
    text-align: left;
    padding: 2.8%;

}
.header {
  padding: 47px;
  text-align: center;
  background: #75ecd4;
  color: white;
  font-size: 30px;
}
h2{
  color: rgb(87, 80, 80);
  text-align: center;
  font-size: small;
}
form{
    text-align: left;
    padding-left: 1%;
}
text{
    font-style: italic; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-small;
    padding-right: 2%;
    padding-left: 2% ;
}


input[type=text] {
    width: 10%;
    height: 5%;
    padding: 12px 20px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=date] {
    width: 10%;
    height: 5%;
    padding: 12px 20px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  footer{
    display:block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    /*background-color: rgb(109, 78, 94); /*E7717D*/
    color:black;
    position: relative;
  }

textarea{
  margin-top: 1%;
  margin-left: 1%;
}

#moznostA{
  margin-left: 2%;
}

#mail{
  margin-left: 4.3%;
  margin-top: 1%;
}
#cellphone{
  margin-left: 2.6%;
  margin-top: 1%;
}


#km{
  margin-left: 3%;
}
#priezvisko{
  margin-left: 4%;
}
#datumnarodenia{
  margin-left: 1.1%;
  padding-right: 1%;
  padding-left: 0.5%;
}
.oblast{
  margin-top: 1%;
}